/*!! == speed == */
.bpflag-s1{#{$prefix}animation-duration:1s}
.bpflag-s2{#{$prefix}animation-duration:2s}
.bpflag-s3{#{$prefix}animation-duration:3s}
.bpflag-s4{#{$prefix}animation-duration:4s}
.bpflag-s5{#{$prefix}animation-duration:5s}
.bpflag-s6{#{$prefix}animation-duration:6s}
.bpflag-s7{#{$prefix}animation-duration:7s}
.bpflag-s8{#{$prefix}animation-duration:8s}
.bpflag-s9{#{$prefix}animation-duration:9s}
.bpflag-s10{#{$prefix}animation-duration:10s}
.bpflag-s11{#{$prefix}animation-duration:11s}
.bpflag-s12{#{$prefix}animation-duration:12s}
.bpflag-s13{#{$prefix}animation-duration:13s}
.bpflag-s14{#{$prefix}animation-duration:14s}
.bpflag-s15{#{$prefix}animation-duration:15s}
